* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(6, 10, 92), rgb(58, 62, 140));
  padding: 0 20px;
  color: #fff;
}

.logo {
  width: 200px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo img {
  width: 40%;
}

.logo h1 {
  color: #ffff;
  text-shadow: 1px 2px 10px #f4a300;
  font-size: 35px;

}

.navlinks {
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  list-style: none;
  margin-left: 110px;
}

.nav {
  background-color: #ffaa00bd;
  color: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 500;
}

.nav:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1);
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background: rgb(2, 6, 73);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  transition: 0.3s ease-in-out;
  z-index: 999;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  font-size: 26px;
  align-self: flex-end;
  cursor: pointer;
  color: #fff;
}

.sidebar .nav {
  font-size: 18px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* Desktop & Mobile Social Icons */
.icons,
.sidebar-icons {
  display: flex;
  gap: 12px;
  font-size: 20px;
  margin-left: 150px;
}

/* Circle Button Style */
.icons a,
.sidebar-icons a {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.icons a:hover,
.sidebar-icons a:hover {
  background: #fff;
  color: #f4a300;
  transform: scale(1.1);
}

/* Sidebar icons at bottom */
.sidebar-icons {
  margin-top: auto;
  /* push to bottom */
}


/* Responsive */
@media (max-width:2000px) and (min-width: 1500px) {
  .header {
    padding: 0 10px;
    height: 8vh;
  }

  .navlinks {
    gap: 50px;
    margin-left: 200px;
  }

  .logo {
    width: 250px;
  }

  .nav {
    font-size: 2rem;
  }
}

@media (max-width: 1360px) and (min-width: 1023px) {
  .header {
    height: auto;
  }



  .logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }

}
@media (max-width: 912px) and (min-width: 854px) {
  .header{
    height: 6vh;
    width: 100%;
  }
  .logo{
    width: 200px;
    margin-left: 20px;
  }
  .logo img{
    width: 60px;
  }
  .icons{
    margin-left: 80px;
  }
  
}
@media (max-width:853px) and (min-width: 769px) {
  .header{
    height: 5vh;
    width: 100%;
  }
  .logo{
    width: 180px;
    margin-left: 10px;
  }
  .logo img{
    width: 50px;
  }
  .icons{
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .navlinks {
    display: none;
  }

  .hamburger {
    /* margin: auto; */
    display: block;
  }
  .nav{
    text-align: center;
  }
  .icons {
    display: none;
  }
  .sidebar-icons{
    margin-left: 40px;
  }
  .sidebar-icons a{
    background-color: #f4a300;
  }
}

@media (max-width: 412px) {
  .logo {
    width: 120px;
    margin-left: -10px;
  }
  .logo img {
    width: 60%;
  }

  .logo h1 {
    font-size: 20px;
  }

  .sidebar {
    width: 200px;
  }

  .hamburger {
    margin-top: 5px;
  }
   .sidebar-icons{
    margin-left: 20px;
  }
}
@media (max-width: 344px) {
  .logo {
    width: 100px;
    margin-left: -15px;
  }
  .logo img {
    width: 50%;
  }

  .logo h1 {
    font-size: 18px;
  }
  
}
@media (max-width: 320px) {
  .sidebar-icons{
    margin-left: 20px;
  }
}